In [1]:
# imports 

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import datasets
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split, KFold, LeaveOneOut, cross_val_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

import statsmodels.api as sm

In [3]:
pwd

'/Users/emilynaftalin/Data_Science/General Assembly/dsi/projects/project-2/code'

In [4]:
cd ..

/Users/emilynaftalin/Data_Science/General Assembly/dsi/projects/project-2

In [5]:
# loading in datasets 

train = pd.read_csv('./datasets/train.csv')
test = pd.read_csv('./datasets/test.csv')

**Data Dictionary:** 
https://www.kaggle.com/c/dsir-1116-ames-regression-challenge/data

In [6]:
# checking out data

train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [23]:
len(train)

2051

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2051 non-null   int64
 1   PID              2051 non-null   int64
 2   MS SubClass      2051 non-null   int64
 3   MS Zoning        2051 non-null   object
 4   Lot Frontage     1721 non-null   float64
 5   Lot Area         2051 non-null   int64
 6   Street           2051 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2051 non-null   object
 9   Land Contour     2051 non-null   object
 10  Utilities        2051 non-null   object
 11  Lot Config       2051 non-null   object
 12  Land Slope       2051 non-null   object
 13  Neighborhood     2051 non-null   object
 14  Condition 1      2051 non-null   object
 15  Condition 2      2051 non-null   object
 16  Bldg Type        2051 non-null   object
 17  House Style      2051 non-null   object
 18  Overall Qual     2051 non-null   int64
 19  Overall Cond     2051 non-null   int64
 20  Year Built       2051 non-null   int64
 21  Year Remod/Add   2051 non-null   int64
 22  Roof Style       2051 non-null   object
 23  Roof Matl        2051 non-null   object
 24  Exterior 1st     2051 non-null   object
 25  Exterior 2nd     2051 non-null   object
 26  Mas Vnr Type     2029 non-null   object
 27  Mas Vnr Area     2029 non-null   float64
 28  Exter Qual       2051 non-null   object
 29  Exter Cond       2051 non-null   object
 30  Foundation       2051 non-null   object
 31  Bsmt Qual        1996 non-null   object
 32  Bsmt Cond        1996 non-null   object
 33  Bsmt Exposure    1993 non-null   object
 34  BsmtFin Type 1   1996 non-null   object
 35  BsmtFin SF 1     2050 non-null   float64
 36  BsmtFin Type 2   1995 non-null   object
 37  BsmtFin SF 2     2050 non-null   float64
 38  Bsmt Unf SF      2050 non-null   float64
 39  Total Bsmt SF    2050 non-null   float64
 40  Heating          2051 non-null   object
 41  Heating QC       2051 non-null   object
 42  Central Air      2051 non-null   object
 43  Electrical       2051 non-null   object
 44  1st Flr SF       2051 non-null   int64
 45  2nd Flr SF       2051 non-null   int64
 46  Low Qual Fin SF  2051 non-null   int64
 47  Gr Liv Area      2051 non-null   int64
 48  Bsmt Full Bath   2049 non-null   float64
 49  Bsmt Half Bath   2049 non-null   float64
 50  Full Bath        2051 non-null   int64
 51  Half Bath        2051 non-null   int64
 52  Bedroom AbvGr    2051 non-null   int64
 53  Kitchen AbvGr    2051 non-null   int64
 54  Kitchen Qual     2051 non-null   object
 55  TotRms AbvGrd    2051 non-null   int64
 56  Functional       2051 non-null   object
 57  Fireplaces       2051 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1938 non-null   object
 60  Garage Yr Blt    1937 non-null   float64
 61  Garage Finish    1937 non-null   object
 62  Garage Cars      2050 non-null   float64
 63  Garage Area      2050 non-null   float64
 64  Garage Qual      1937 non-null   object
 65  Garage Cond      1937 non-null   object
 66  Paved Drive      2051 non-null   object
 67  Wood Deck SF     2051 non-null   int64
 68  Open Porch SF    2051 non-null   int64
 69  Enclosed Porch   2051 non-null   int64
 70  3Ssn Porch       2051 non-null   int64
 71  Screen Porch     2051 non-null   int64
 72  Pool Area        2051 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            400 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2051 non-null   int64
 77  Mo Sold          2051 non-null   int64
 78  Yr Sold          2051 non-null   int64
 79  Sale Type        2051 non-null   object
 80  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [9]:
train.isnull().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 81, dtype: int64

In [20]:
nulls = pd.DataFrame(train.isnull().sum())
nulls

                0
Id              0
PID             0
MS SubClass     0
MS Zoning       0
Lot Frontage  330
...           ...
Misc Val        0
Mo Sold         0
Yr Sold         0
Sale Type       0
SalePrice       0

[81 rows x 1 columns]

In [22]:
#count of null values for each feature with null values 
nulls[nulls[0]!=0]

                   0
Lot Frontage     330
Alley           1911
Mas Vnr Type      22
Mas Vnr Area      22
Bsmt Qual         55
Bsmt Cond         55
Bsmt Exposure     58
BsmtFin Type 1    55
BsmtFin SF 1       1
BsmtFin Type 2    56
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Bsmt Full Bath     2
Bsmt Half Bath     2
Fireplace Qu    1000
Garage Type      113
Garage Yr Blt    114
Garage Finish    114
Garage Cars        1
Garage Area        1
Garage Qual      114
Garage Cond      114
Pool QC         2042
Fence           1651
Misc Feature    1986

In [17]:
train.loc[:, train.isna().any()].T

,0,1,2,3,4,5,6,7,8,9,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
Lot Frontage,NaN,43,68,73,82,137,35,NaN,NaN,70,...,110,45,50,65,96,79,NaN,57,80,60
Alley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Grvl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mas Vnr Type,BrkFace,BrkFace,None,None,None,None,BrkFace,BrkFace,None,BrkFace,...,BrkFace,None,None,BrkFace,Stone,None,None,None,None,None
Mas Vnr Area,289,132,0,0,0,0,82,180,0,192,...,664,0,0,38,426,0,0,0,0,0
Bsmt Qual,TA,Gd,TA,Gd,Fa,TA,Gd,TA,TA,Gd,...,Ex,TA,TA,Gd,Ex,Gd,TA,TA,TA,TA
Bsmt Cond,TA,TA,TA,TA,Gd,TA,TA,TA,TA,TA,...,TA,TA,TA,TA,TA,TA,TA,TA,TA,TA
Bsmt Exposure,No,No,No,No,No,No,Gd,No,No,Av,...,Av,No,Mn,No,Av,Av,No,No,No,No
BsmtFin Type 1,GLQ,GLQ,GLQ,Unf,Unf,ALQ,GLQ,Rec,Rec,Rec,...,GLQ,Unf,Rec,GLQ,GLQ,GLQ,BLQ,Unf,Rec,Unf
BsmtFin SF 1,533,637,731,0,0,247,547,1000,292,650,...,1016,0,276,362,1336,1011,262,0,155,0
BsmtFin Type 2,Unf,Unf,Unf,Unf,Unf,Rec,Unf,Unf,Unf,Unf,...,Unf,Unf,Unf,Unf,Unf,Unf,Unf,Unf,LwQ,Unf
BsmtFin SF 2,0,0,0,0,0,713,0,0,0,0,...,0,0,0,0,0,0,0,0,750,0
Bsmt Unf SF,192,276,326,384,676,557,0,188,632,390,...,556,864,324,392,596,873,599,896,295,994
Total Bsmt SF,725,913,1057,384,676,1517,547,1188,924,1040,...,1572,864,600,754,1932,1884,861,896,1200,994
Bsmt Full Bath,0,1,1,0,0,0,1,1,0,0,...,1,0,0,0,1,1,0,0,1,0
Bsmt Half Bath,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Fireplace Qu,NaN,TA,NaN,NaN,NaN,Gd,NaN,NaN,NaN,TA,...,Gd,Gd,TA,NaN,Gd,Gd,NaN,TA,Gd,TA
Garage Type,Attchd,Attchd,Detchd,BuiltIn,Detchd,Attchd,Basment,Attchd,Detchd,Attchd,...,BuiltIn,NaN,Attchd,Attchd,Attchd,Attchd,Detchd,Detchd,Attchd,Attchd
Garage Yr Blt,1976,1997,1953,2007,1957,1966,2005,1959,1952,1969,...,2003,NaN,1939,1995,2008,2007,1961,1929,1956,1999
Garage Finish,RFn,RFn,Unf,Fin,Unf,Fin,Fin,RFn,Unf,Unf,...,Fin,NaN,Unf,RFn,Fin,Fin,Unf,Unf,Unf,Fin
Garage Cars,2,2,1,2,2,2,2,2,1,2,...,3,0,1,2,3,2,2,2,1,2
Garage Area,475,559,246,400,484,578,525,531,420,504,...,726,0,217,525,774,520,539,342,294,442
Garage Qual,TA,TA,TA,TA,TA,TA,TA,TA,TA,TA,...,TA,NaN,TA,TA,TA,TA,TA,Fa,TA,TA
Garage Cond,TA,TA,TA,TA,TA,TA,TA,TA,TA,TA,...,TA,NaN,TA,TA,TA,TA,TA,Fa,TA,TA
Pool QC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MnPrv,MnPrv,NaN,...,NaN,NaN,GdWo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Misc Feature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# showing only features that have null values 

train[train.isnull().sum()!=0]

<ipython-input-12-78acdaf2c97a>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  train[train.isnull().sum()!=0]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).